#sidebar {
  flex: 65px;
  position: relative;
}

#sidebar img#sidebar-select {
  position: absolute;
  right: 0;
  width: 220px;
  z-index: -1;
}

#sidebar ul {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#sidebar ul li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-align: center;
  padding: 35px 15px;
}

#sidebar ul li a {
  display: flex;
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: var(--txt-size-normal);
  line-height: var(--txt-size-large);
  margin-left: 8px;
  letter-spacing: 1px;
  /* color: #ffffff; */
}

#sidebar #logo {
  height: 70px;
  color: var(--color-white);
}

.link-style {
  color: white;
  transition: all 0.2 ease;
}

.link-style span {
  margin-right: 8px;
}

.link-style svg {
  stroke: white;
}

.selected-link {
  color: #303b5b;
}
.selected-link svg {
  stroke: #303b5b;
}
